snippet aufg
---------------------------------------------------------
--------------------- Aufgabe $1 -------------------------
---------------------------------------------------------
endsnippet

snippet Miri

Miri ist: super-duper-$1
Ich habe sie sehr $2.
Und ich will immer $3 !

endsnippet

snippet " *--" "Separtion of code blocks in c++" r
// _____________________________________________________________________________
endsnippet

snippet " *\"\"" "Separtion of code blocks in vimrc" r
" ______________________________________________________________________________
endsnippet
